
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  
  .card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    width: 99%;
  }
  
  .customer-id-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  .customer-id-text {
    color: #000000;
    font-size: 12px;
    
  }
  .customer-id-tet {
    color: #000000;
    font-size: 12px;
    padding-right: 230px;
    
  }
  
  .contract-type-wrapper {
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
    align-content: flex-end;
  }
  
  .contract-type {
    max-width: 190px;
    font-size: 11px;
    color: #004a92;
    font-weight: bold;
    padding-left: 5px;
  }
  
  .main-applicant-wrapper {
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
  }
  
  .main-applicant-name {
    font-size: 15px;
    color: #004a92;
    font-weight: bold;
    padding-top: 5px;
  }
  
  .mobile-no-view {
    flex-direction: row;
    margin-top: 2px;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
  }
  
  .mobile-no-wrapper {
    width: 50%;
    flex-direction: row;
  }
  
  .mobile-no-text {
    font-size: 12px;
    color: black;
  }
  
  .gif-wrapper {
    padding-left: 4px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .gif {
    width: 25px;
    height: 25px;
    bottom: 5px;
  }
  
  .status-wrapper {
    width: 100%;
    padding-left: 170%;
  }
  
  .status-text {
    font-size: 12px;
    color: black;
    font-weight: bold;
  }
  
  .status-color {
    color: #004a92;
  }
  
  .row {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2px;
  }
  
  .location-text {
    color: #000000;
    font-size: 12px;
    padding-top: 5px;
    max-width: 150px;
  }
  
  .loan-amount-text {
    color: #000000;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 190px;
  }
  
  .circularProgressWrapper {
    display: flex;
    justify-content: center;
    width: 30%;
    padding-left: 70%;
  }
  
  .circularProgress {
    display: flex;
    flex-direction: column;
  }
  
  .circularProgressContent {
    display: flex;
  }
  
  .circularProgressText {
    font-size: 7px;
    font-weight: bold;
  }
  
  .enquiryDateBox {
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    width: 97%;
    background-color: #2288d5;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: -20px;
  }
  
  .date {
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .date2 {
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 460px;
  }
  

@media (max-width: 768px) {
  .card-container {
    justify-content: flex-start;
  }

  .card {
    width: 100%;
  }
}


@media (max-width: 425px) {
  .card-container {
    justify-content: flex-start;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .card-container {
    justify-content: flex-start;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .card-container {
    justify-content: flex-start;
  }


}
@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
  }

  .card {
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .card {
    max-width: 450px;
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 350px;
  }
}

@media (max-width: 425px) {
  .card {
    max-width: 300px;
  }
}

@media (max-width: 375px) {
  .card {
    max-width: 280px;
  }
}

@media (max-width: 320px) {
  .card {
    max-width: 250px;
  }
}